<div class="jumbotron">
        A glimpse of projects <br><br>
        1. Android Application <br><br>
        <img src="/assets/pizzaimg1.png" width="250" height="300">
        <img src="/assets/pizzaimg2.png" width="250" height="300"> <br><br>
        2. Java application<br><br>
        <img src="/assets/javaimg1.PNG" width="250" height="300">
        <img src="/assets/javaimg2.PNG" width="250" height="300"><br><br>
        3. Data Warehouse and Mining<br><br>
        <img src="/assets/dataimg1.PNG" width="250" height="300">
        <img src="/assets/dataimg2.PNG" width="250" height="300"><br><br>
    </div>
